.cabecalho-navbar-celular {
    background-color: white;
    display: flex;
    margin: 1em;
    align-items: center;
}

.cabecalho-horario {
    font-family: var(--fonte-projeto);
    font-weight: 400;
    font-size: 14px;
    margin-right: 17.5em;
}

.cabecalho-icones {
    padding: 0 0.5em;
}

.cabecalho-medico {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2em 1em;
}
.cabecalho-medico-foto{
    border-radius: 57px;
    width: 57px;
    height: 57px;

}

.cabecalho-medico-textos{
    font-family: var(--fonte-projeto);
    padding: 0 1em;
    
}
.cabecalho-medico-textos-titulo{
    font-weight: 700;
    font-size: 22px;
    color: var(--cor-principal);
}
.cabecalho-medico-textos-descricao{
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-secundaria);
    padding: .5em 0;
}
@media screen and (min-width:1024px) {
    .cabecalho-navbar-celular{
        display: none;
    }
    .cabecalho-medico-foto{
        border-radius: 70px;
        width: 70px;
        height: 70px;
    
    }
    
    .cabecalho-medico-textos-titulo{
        font-size: 26px;
    }
    .cabecalho-medico-textos-descricao{
        font-size: 18px;
    }
    
}
@media screen and (min-width:1728px) {
    .cabecalho-medico-foto{
        border-radius: 100px;
        width: 100px;
        height: 100px;
    }
    
    .cabecalho-medico-textos-titulo{
        font-size: 30px;
    }
    .cabecalho-medico-textos-descricao{
        font-size: 24px;
    }
    
}
